/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: rgba(177, 237, 229, 0.389);
  --primary-color: #4756df;
  --secondary-color: #ff004f;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 1.2em;
  background-color: #82e1c0;
  border-radius: 0rem 0.5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
  position: sticky;
  inset: 0;
  z-index: 1;
}

.active {
  background-color: var(--secondary-color);
  padding: 6px;
  border-radius: 5px;
}

.hide {
  display: flex;
}

.hide li {
  list-style: none;
  padding-inline: 1em;
}

.hide li a {
  text-decoration: none;
  color: black;
  position: relative;
}

.hide li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--secondary-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.hide li a:hover::after {
  width: 100%;
}

.show-resume {
  background-color: black;
  color: #fff;
  font-size: 0.8em;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.show-resume a {
  color: #00d6af;
  text-decoration: none;
}

.show-resume:hover {
  background-color: #b8efdd;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.burger-menu {
  color: var(--secondary-color);
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.rotateBurger {
  transform: rotate(180deg);
}

@media screen and (max-width: 1200px) {
  .burger-menu {
    display: block;
  }

  .nohide {
    background-color: rgb(177, 237, 229);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 90px;
    right: 0;
    width: 30%;
    text-align: center;
  }

  .nohide li {
    margin: 8px;
    position: relative;
  }

  .nohide li a {
    color: black;
    text-decoration: none;
  }

  .nohide li a::after {
    display: none;
  }

  .nohide li a:hover::after {
    width: 100%;
  }

  .nohide.show {
    transform: translateX(0);
  }

  .hide {
    display: none;
  }
}

/* Intro section */

.intro {
  display: flex;
  margin-block: 2em;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.intro img {
  border-radius: 50%;
  height: auto;
  width: min(700px, 80vw);
}

.intro .right h1,
h2,
h3 {
  padding-block: 0.3rem;
}

.intro .right h2 {
  color: rgb(3, 158, 54);
}

.cllg {
  color: var(--secondary-color);
  opacity: 0.8;
}

@media screen and (max-width: 1200px) {
  .intro {
    flex-direction: column;
    gap: 2rem;
  }
  .right {
    text-align: center;
    font-size: 0.9em;
    width: 90%;
  }
}

/* Education */

.card {
  background-color: #b9f8ebee;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  padding-block: 10px;
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.edulogo {
  height: 8rem !important;
  width: 8rem !important;
}

.card img {
  height: 10rem;
  width: 12rem;
}

.card h2,
.card h3,
.card h4 {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}

/* Skills */

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-block: 2.5rem 5rem;
}

.skill-header {
  margin-bottom: 1rem;
  font-size: 2.6rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  background-color: #aaeadb50;
  border-radius: 10px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  margin: 10px;
}

.personalSkills {
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 3.5em;
}

.box {
  width: 6em;
  height: 6em;
  background-color: rgba(99, 245, 99, 0.653);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 1em;
  box-shadow: 5px 5px 0px 0px rgba(6, 179, 138, 0.916);
}

.box p {
  box-shadow: 0 0px 10px var(--secondary-shadow);
  border-radius: 10px;
  padding: 0.2em;
}

/* Competition section */

.Competitions {
  margin-block: 4rem;
}

.each {
  display: flex;
  margin: auto;
  width: 72vw;
  align-items: center;
  gap: 2rem;
  font-size: 1.3rem;
  margin-block: 1rem;
}

.each img {
  width: 2em;
  height: 1.8em;
}

/* Projects section */

.projects,
.internships {
  margin-block: 3rem 4rem;
}

.projects-container,
.intern-container,
.por-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.projects-title,
.internships-title,
.por-title {
  text-align: center;
  margin-block: 2rem 2rem;
  font-size: 2.8rem;
}

.project-container {
  text-align: center;
  width: 22rem;
}

.project-pic {
  width: 100%;
  height: 9rem;
}

.project-container button {
  margin-block: 1em;
  padding: 0.3em 0.8em;
  border-radius: 0.4em;
  border: none;
  background-color: #91f0d2;
  cursor: pointer;
  font-size: 1.4rem;
}

.project-details {
  margin-inline-start: 1.3em;
}

.project-details li {
  margin-block: 0.8em;
  text-align: start;
  list-style: disc;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-link img {
  width: 2.5rem;
  height: 2.5rem;
}

/* Work Experiences section */

.cardintern,
.cardpor {
  background-color: #07ff7b1f;
  border-radius: 11px;
  box-shadow: 0 5px 15px rgb(1, 143, 67);
  padding: 20px;
  text-align: center;
  width: 58rem;
}

.cardintern h2 {
  color: rgb(9, 85, 9);
}

.profile {
  font-size: 1.4rem;
  color: var(--secondary-color);
}

.intern-details {
  display: inline-block;
  margin-inline: auto;
}

.intern-details li {
  margin-block: 0.7em;
  text-align: justify;
  color: #023129;
  font-weight: bold;
}

/* footer section */

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-block: 2em;
}

.contact h1 {
  font-size: 3.5rem;
  margin-inline-start: -0.3em;
  margin-block-end: 0.5em;
}

.contact i {
  font-size: 1.3em;
  margin-block-end: 0.8em;
}

.footer-icons {
  margin-block-start: 1.5em;
}

.footer-icons img {
  height: 40px;
  padding-inline-end: 2em;
  transition: transform 0.5s ease-in-out;
}

.footer-icons img:hover {
  transform: scale(1.1);
}

.query textarea {
  font-family: var(--font-family);
}

.formcss {
  width: 45vw;
  padding: 1.8em;
  border-radius: 5px;
  background-color: #a6f3e6b3;
  border: none;
  margin-block: 8px;
  font-size: 0.9em;
}

.formcss:focus {
  outline: none;
}

.submitcss {
  background-color: var(--secondary-color);
  opacity: 0.7;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
}

.submitcss:hover {
  background-color: #fff;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 9px 29px;
}

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 2.5rem;
}

@media screen and (max-width: 1000px) {
  .footer {
    flex-direction: column;
  }

  .contact h1 {
    font-size: 3rem;
  }

  .directCon {
    text-align: center;
    /* margin-block-end: 2rem; */
  }

  .query {
    width: 80%;
    text-align: center;
  }

  :is(.formcss, .submitcss) {
    width: 100%;
  }
}
